<EditForm Model="item" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />

    <div class="form-group">
        <label>Address:</label>
        <div>
            <InputText @bind-Value="@item.Address" class="form-control"></InputText>
            <ValidationMessage For="@(() => item.Address)" />
        </div>
    </div>

    <button class="btn btn-success" type="submit">Submit</button>
    <a href="/block/index" class="btn btn-outline-warning">Back</a>
</EditForm>

@code
{
    [Parameter] public Location item { get; set; }
    [Parameter] public EventCallback OnValidSubmit { get; set; }

}